<<<<<<< HEAD
/* -----  Margins --------------------------------------------- */
=======
html {
    scroll-behavior: smooth;
}

/* -----  Utility fix --------------------------------------------- */
>>>>>>> develop

.about p + p {
    @apply mt-12;
}

.contact p + ul {
    @apply mt-12;
}

<<<<<<< HEAD
// Set the min-width of the element before wrapping
.flex-basis {
    flex-basis: calc((62rem - 100%) * 999);
}

::selection {
    @apply bg-yellow-lightest;
}

.vertical-lr {
    writing-mode: vertical-lr;
}

.info {
    transition: all 0.25s ease;
}

.info:hover {
    transform: scale(1.2);

    & .message p {
        opacity: 0;
        transform: translateX(0);
    }
}

.message p {
    opacity: 0;
    transform: translateX(5rem);
}

/* -----  Before element on accordion --------------------------------------------- */

.arrow {
    position: relative;
    display: inline-block;
    transition: transform 0.25s ease;
}

.arrow::before {
    content: '+';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-1.5em);
    transition: transform 0.25s ease;
}

button:hover .arrow,
.arrow:hover {
    transform: translateX(1em);
}

button:hover .arrow::before,
.arrow:hover::before {
    transform: translateX(-1em);
    opacity: 1;
=======
.services .accordion:first-of-type button {
    @apply pt-0;
}

::selection {
    @apply bg-grey;
}

.h-75 {
    height: 75vh;
}

.letters:hover img {
    filter: brightness(0.7);
>>>>>>> develop
}

/* -----  Responsive typography  --------------------------------------------- */

.text-fluid {
    font-size: 20px;
}

@screen sm {
    .text-fluid {
<<<<<<< HEAD
        font-size: calc(20px + 12 * (100vw - 576px) / 1644);
=======
        font-size: calc(20px + 20 * (100vw - 576px) / 1224);
>>>>>>> develop
    }
}

@screen xxl {
    .text-fluid {
<<<<<<< HEAD
        font-size: 32px;
    }
}

/* -----  Js Classes  --------------------------------------------- */

.accordion__content {
    @apply overflow-hidden h-0 p-0;
    transition: height 0.25s ease-out;
}

.accordion__inner {
    @apply block;
}

.indicator__plus {
    @apply block;
}

.indicator__minus {
    @apply hidden;
}

.accordion.is-open .indicator__plus {
    @apply hidden;
}

.accordion.is-open .indicator__minus {
    @apply block;
}

// toggle visibility with Js
.is-visible {
    opacity: 1;
}
=======
        font-size: 40px;
    }
}

/* -----  Js interaction  --------------------------------------------- */
/* purgecss start ignore */
// Add transition to accordion when open
.accordion__content {
    transition: height 0.25s ease-out;
}

// Append arrow
.accordion__title {
    @apply relative;
    transition: transform 0.25s ease;
}

.accordion__title button::before {
    content: '→';
    @apply absolute pin-l text-grey;
    transform: translateX(-1em);
    transition: transform 0.25s ease;
}

.is-open .accordion__title button::before {
    transform: translateX(-1em);
}

.is-open .accordion__title {
    transform: translateX(1em);
}

// toggle image visibility
.is-visible {
    @apply opacity-100;
}
/* purgecss end ignore */
>>>>>>> develop
