html {
    scroll-behavior: smooth;
}

/* -----  Utility fix --------------------------------------------- */

.about p + p {
    @apply mt-12;
}

.contact p + ul {
    @apply mt-12;
}

.services .accordion:first-of-type button {
    @apply pt-0;
}

::selection {
    @apply bg-grey;
}

.h-75 {
    height: 75vh;
}

.letters:hover img {
    filter: brightness(0.7);
}

/* -----  Responsive typography  --------------------------------------------- */

.text-fluid {
    font-size: 20px;
}

@screen sm {
    .text-fluid {
        font-size: calc(20px + 20 * (100vw - 576px) / 1224);
    }
}

@screen xxl {
    .text-fluid {
        font-size: 40px;
    }
}

/* -----  Js interaction  --------------------------------------------- */
/* purgecss start ignore */
// Add transition to accordion when open
.accordion__content {
    transition: height 0.25s ease-out;
}

// Append arrow
.accordion__title {
    @apply relative;
    transition: transform 0.25s ease;
}

.accordion__title button::before {
    content: '→';
    @apply absolute pin-l text-grey;
    transform: translateX(-1em);
    transition: transform 0.25s ease;
}

.is-open .accordion__title button::before {
    transform: translateX(-1em);
}

.is-open .accordion__title {
    transform: translateX(1em);
}

// toggle image visibility
.is-visible {
    @apply opacity-100;
}
/* purgecss end ignore */
