<div class="contact mt-24">
    <h2 class="subtitle">{{ site.section.contact }}</h2>

    <ul class="list-reset xl:flex xl:justify-between">
        <li><a class="link" href="mailto:{{ site.mail }}">{{ site.mail }}</a></li>
        <li><a class="link" href="{{ site.instagram.url }}">{{ site.instagram.title }}</a></li>
        <li><a class="link" href="{{ site.twitter.url }}">{{ site.twitter.title }}</a></li>
    </ul>

    <p class="mt-20 text-sm text-grey-dark"><span class="date"></span> {{ site.title }}</p>
</div>
