<div class="hero relative pin-t w-full h-screen sticky">

    <div class="relative w-full h-full max-w-lg mx-auto">
        {% for filename in images %}
            <img class="absolute w-full h-full bg-black" src="../site/_assets/img/{{ filename | urlencode }}">
        {% endfor %}
    </div>
</div>