<div class="services mt-24">
    <h2 class="subtitle">{{ site.section.services }}</h2>

    {% for services in collections.services %}
        <div class="accordion py-6 border-b border-white">
            <div class="accordion__header w-full arrow">
                <button class="focus:outline-none text-white">
                    {{ services.data.title }}
                </button>
            </div>
            <div class="accordion__content">
                <div class="accordion__inner pt-4 pb-8">
                    {{ services.templateContent | safe }}
                </div>
            </div>
        </div>
    {% endfor %}

</div>